body{font-family: cursive, sans-serif;color:dimgray;overflow: hidden}
label{font-family: cursive, sans-serif} 

#loginbox
{
    display: block;
    position: relative;
    border: 1px solid black;
    top: 90px;
    left:535px;
    align-content: center;
    width: 300px;
    height:300px;
    border-radius:7px;
    background-color: white;
}
#l1,#l2
{
    position: relative;
    font-family: cursive;
    color:dimgray;
    font-size: 20px;
    left:30px;
    top:50px;
}
#login
{
  
    position:relative;
    left:110px;
    top:700px;
    font-size: 19px;
    font-family: cursive;
    background-color: black;
    color: white;
    border-radius:5px;
    top:55px;
}
#uname
{
    position:relative;
    left:40px;
    border-radius:5px;
    font-size: 20px;
    top:55px;
}
#password
{
    position:relative;
    left:40px;
    border-radius:5px;
    font-size:20px;
    top:55px;   
}
#heading
{
    display:block;
    position:relative;
    left:450x;
    justify-content: center;
    align-content: center;
}
#hh
{
    display:block;
    position:relative;
    left:44%;
    font-size: 50px;
    color:deeppink;
}
#pp
{
    display:block;
    position:relative;
    left:42.5%;
    color:white;
}
#hh1
{
    position:relative;
    left:95px;
    color:deeppink;
}
